body{
    font-family: Arial, Helvetica, sans-serif ;
    text-align: center;
    background-color: #121775;   
        
}
h1, h2{color:whitesmoke;}

.stage{
    background-color:#252EF5;
}
.square{
    width: 150px;
    height: 150px;
    background-color: #6F76F7;
    border: 1px solid black;
    display: inline-block;
}
.o{
    position: relative;
}
    
.o:after{
    position: absolute;
    content:"\1F6E1";
    font-size: 50px;
    line-height: 150px;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
        
}

 .x{
    position: relative;
}
    
.x:after{
    position: absolute;
    content:"\2694";
    font-size: 50px;
    line-height: 150px;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
        
 }
